# https://www.teamfdm.com/files/file/455-chamber-heater/

######################
### Chamber Heater ###
######################

[heater_generic chamber_heater]
heater_pin: PA2
sensor_type: Generic 3950
sensor_pin: PF5

max_power: 0.8
pwm_cycle_time: 0.3
min_temp: 0
max_temp: 65

control: pid
# PIDs: PID_CALIBRATE HEATER=chamber_heater TARGET=50
pid_Kp=50.336
pid_Ki=0.667
pid_Kd=949.461

[verify_heater chamber_heater]
max_error: 120
check_gain_time: 120
hysteresis: 10
heating_gain: 1.0

##########################
### Chamber Heater Fan ###
##########################

[temperature_fan chamber_heater_fan]
pin: PA8
max_power: 1.0
# heater: chamber_heater
target_temp: 40.0 # fan will turn off below this level
shutdown_speed: 1.0
sensor_type: Generic 3950
sensor_pin: PF4
min_temp: 1
max_temp: 200
control: watermark

###
